<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 20vh;
        }
    </style>
</head>

<body>
    <div id="container"></div>
    <button id="btn1">추가</button>

    <template id="temp">
        <style>
            #card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
            }
        </style>
        <div id="card">
            <h1>제목</h1>
            <p>내용1</p>
            <button id="sub">ok</button>
            <button id="end">can</button>
        </div>
    </template>

    <script>
        document.getElementById("btn1").addEventListener("click", function(){
            // const ntemp = document.getElementById("container");
            // const card = document.getElementById("temp");
            // container.append(card.content.cloneNode(true))
            const card = document.createElement("custom-elem");

            const span1 = document.createElement("span");
            span1.setAttribute("slot","title")
            span1.textContent = "제목1111";
            card.append(span1)

            const span2 = document.createElement("span")
            span2.setAttribute("slot","content")
            span2.textContent = "내용11111"
            card.append(span2)

            container.append(card);
        })

        class CustomElem extends HTMLElemnet {
            connectedCallback(){
                this.attachShadow({mode : 'open'})
                this.shadowRoot.append(temp.content.cloneNode(true));
            }
        }
    </script>
</body>

</html>